<%= form_for(resource, as: resource_name, html: { class: "form-auth mx-auto" }, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div>
  <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'ユーザー名', class: 'form-auth__input' %>
</div>

<div>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'form-auth__input' %>
</div>

<div>
  <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード', class: 'form-auth__input' %>
</div>

<div>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワード確認', class: 'form-auth__input' %>
</div>

<div class="form-auth__item">
  <%= f.label :profile_image, 'プロフィール画像' %><br>
  <%= f.file_field :profile_image, class: 'form-auth__input--file' %>
</div>

<div class="form-auth__item">
  <%= f.label :profile_bg_image, 'プロフィール背景画像' %><br>
  <%= f.file_field :profile_bg_image, class: 'form-auth__input--file' %>
</div>

<div class="form-auth__item">
  <%= f.submit "登録する", class: 'form-auth__input--submit' %>
</div>
<%= render "devise/shared/links" %>
<% end %>
