<!-- ページタイトル -->
<%= render partial: 'shared/page_title', locals: { page_title: '' } %>

<!-- スマホメニュー -->
<%= render 'shared/sp_menu' %>

<div class="home">
  <%= search_form_for @q, url: search_recipes_path, class: 'header-main__lower-form sm' do |search| %>
  <%= search.text_field :title_or_comment_cont, placeholder: '料理名・食材名' %><br class="w-520-block"><%= search.submit 'レシピ検索' %> <% end %>
  <div class="home__wrap first">
    <h2 class="home__heading">新着レシピ</h2>
    <div class="home__new-flex flex">
      <% @recipes.each do |recipe| %>
      <%= link_to show_recipe_path(recipe), class: 'contents' do %>
      <div class="home__new-item">
        <% if recipe.image? %>
        <%= image_tag recipe.image.url, class: 'home__new-img' %>
        <% else %>
        <%= image_tag 'img_food01.jpg', class: 'home__new-img' %>
        <% end %>
        <h3 class="home__new-title">
          <%= recipe.title %>
        </h3>
        <p class="home__new-txt">
          by&nbsp;<%= recipe.user.name %>
        </p>
      </div>
      <% end %>
      <% end %>
    </div>
    <%= link_to 'もっと見る>', recipes_path, class: 'home__link' %>
  </div>
  <div class="home__wrap">
    <h2 class="home__heading">レシピカテゴリ</h2>
    <div class="home__category-flex flex">
      <% @categories.each do |category| %>
      <%= link_to category.name, show_category_path(id: category.id), class: 'home__category-link ' + output_class_name(category.name) %>
      <% end %>
    </div>
  </div>
</div>
